<!-- /snippets/gdc-discounts.liquid -->
<button class="btn btn--large btn--full gdc-discounts-btn js-show-discounts">Show Booklets Discount Chart</button>
<div class="gdc-discounts gdc-hidden-chart">
    <div class="gdc-discounts__title">
        <span>PRICING AND DISCOUNTS FOR BOOKLETS</span>
    </div>
    <div class="gdc-discounts__quantities">
        <span>1 - 9 copies</span>
        <span>10 - 99 copies</span>
        <span>100 - 249 copies</span>
        <span>250 - 499 copies</span>
        <span>500 - 999 copies</span>
        <span>1000 - 2499 copies</span>
        <span>2500 - 4999 copies</span>
        <span>5000 - 9999 copies</span>
        <span>10000 - 24999 copies</span>
    </div>

    <div class="gdc-discounts__prices">
        <span>$3.00 each</span>
        <span>$2.00 each</span>
        <span>$1.80 each</span>
        <span>$1.70 each</span>
        <span>$1.60 each</span>
        <span>$1.50 each</span>
        <span>$1.40 each</span>
        <span>$1.30 each</span>
        <span>$1.20 each</span>
    </div>
    <div class="gdc-discounts__info">
        <p>
            Please call 360.828.7132 for discounts on orders of 25,000 or more
            copies.
        </p>
        <p>
            Booklet orders may NOT be combined using multiple languages to
            achieve a discount. 
				</p>
				<p>Pricing is for each title of booklet.</p>
    </div>
</div>
