<!-- /snippets/gdc-discounts.liquid -->

<button class="btn btn--large btn--full gdc-discounts-btn js-show-discounts">Show DVD Discount Chart</button>
<div class="gdc-discounts gdc-hidden-chart">
  <div class="gdc-discounts__title">
      <span>PRICING AND DISCOUNTS FOR DVDs</span>
  </div>
  <div class="gdc-discounts__quantities">
      <span>1 - 9 copies</span>
      <span>10 - 9 copies</span>
      <span>20 - 29 copies</span>
      <span>30+ copies</span>
  </div>

  <div class="gdc-discounts__prices">
      <span>$29.00 each</span>
      <span>$26.00 each</span>
      <span>$24.80 each</span>
      <span>$22.70 each</span>
  </div>
  <div class="gdc-discounts__info">
      <p>
          Please call 360.828.7132 for discounts on larger orders.
      </p>
  </div>
</div>



