<!-- /snippets/gdc-discounts.liquid -->

<div class="gdc-discounts">
  <div class="gdc-discounts__title">
      <span>DISCOUNTS FOR EOL SERIES</span>
  </div>
  <div class="gdc-discounts__quantities">
      <span>1 copy</span>
      <span>2 - 9 bundles</span>
      <span>10 - 19 bundles</span>
      <span>20 - 49 bundles</span>
      <span>50 - 99 bundles</span>
      <span>100 - 199 bundles</span>
      <span>200 - 499 bundles</span>
      <span>500 + bundles</span>
  </div>

  <div class="gdc-discounts__prices">
      <span>$13.00 each</span>
      <span>$10.00 each</span>
      <span>$9.50 each</span>
      <span>$9.00 each</span>
      <span>$8.50 each</span>
      <span>$8.00 each</span>
      <span>$7.50 each</span>
      <span>$7.00 each</span>
  </div>
  <div class="gdc-discounts__info">
      <p>
          Please call 360.828.7132 for discounts on larger orders.
      </p>
  </div>
</div>

