<!-- snippets/look-inside.liquid -->

<div class="look-inside__wrapper">
  {% for tag in product.tags %}
    {% if tag contains ".pdf" %}
      {% assign pdf_url = tag %}
        <div
          class="look-inside__btn"
          onclick="handleLookInside()">
            Look Inside 
          </div>
        <img class="look-inside__icon" src={{ 'redo-arrow.png' | asset_url }} onclick="handleLookInside()">
        <embed id="js-look-inside" class="look-inside__viewer" src="{{ pdf_url }}#toolbar=0" type="application/pdf"  />
         <noscript> 
           <div class="look-inside__btn">
             <a href="{{ pdf_url }}#toolbar=0" type="application/pdf" target="_blank">Look Inside </a>
           </div>
        </noscript>
    {% endif %}
  {% endfor %}
</div>

<script> 
  
  const handleLookInside = () => { 
    const viewer = document.querySelector('#js-look-inside')
    const isBookOpen = () => viewer.classList.contains('show-look-inside');
    const button = document.querySelector('.look-inside__btn');

    viewer.classList.toggle('show-look-inside');    
    button.innerHTML = isBookOpen() ? 'Close Sample' : 'Look Inside';     
    
  }
</script>