<!-- snippets/search-articles.liquid -->

<form class="gdc-search-articles" action="/search" method="get" role="search">
	<div class="input-group--underline gdc-search-articles__grid">
		<input 
			class="gdc-input-group__field " 
			type="search" 
			name="q" 
			value="{{ search.terms | escape }}" 
			placeholder="Search Posts" 
			aria-label="Search Posts"
			onfocus="this.placeholder = ''"
			onblur="this.placeholder = 'Search Posts'">

			<!-- Sets search to articles only -->
		<input type="hidden" name="type" value="article" />

		<div class="gdc-input-btn">
			<button type="submit" class="btn btn--clear btn--square">
				{% include 'icon-search' %}
			</button>
		</div>
	</div>
</form>